/.config/nvim/
/.config/ranger/plugins/ranger-archives/
/.config/gh/
/.config/raycast/extensions/6090553e-ee96-4c89-af5c-e6c60fa551ba/createNoteCommand.js.map
/.doom.d/_minted-config/
/.config/raycast/extensions/8cc0fb25-9294-47c6-a030-31e2122eb75a/
/.config/raycast/extensions/6090553e-ee96-4c89-af5c-e6c60fa551ba/*.map
